google-chrome/**
dconf/**
menus/**
mimeapps.list
pavucontrol.ini
Code/**
pulse/**
gh/**
QtProject.conf
VirtualBox/**
unity3d/**
teamviewer/**
user-dirs.dirs
user-dirs.locale
fontconfig/**
cef_user_data/**
Code - OSS/**
Minecraft Linux Launcher/**
gtk-3.0/**
nvim/plugins/**
